*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(image/pexels-pixabay-268533.jpg);
    background-size: cover;
}

#result {
    border: 2px solid gray;
    width: 200px;
    height: 45px;
    margin-top: 10px;
    color: green;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 620px;
    top: 380px;
    background-color: white;
    font-size: 20px;
    
}

.show p {
    padding: 45px;
    padding-bottom: 10px;
}

.grade {
    text-align: center;
    margin-top: 200px;
}

.in-btn {
    margin-top: 50px;
}

.btn {
    padding: 8px;
    border-radius: 6px;
    background-color: red !important;
    height: 40px;
}

#score {
    padding: 10px;
    height: 45px;
    width: 300px;
    border-radius: 10px;
}

.grade-2 {
    background-color: aquamarine;
    width: 500px;
    margin-left: 500px;
    height: 300px;
    border-radius: 20px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;

}

.welcome p{
    padding: 20px;
}